{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{   if (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian")) }}
# Ubuntu and Debian-specific code
sudo apt update
sudo apt install -y zsh git
curl -sS https://starship.rs/install.sh | sh
{{   else if eq .chezmoi.osRelease.id "arch" }}
# Arch-specific code
pacman -Syu git zsh starship
{{   end }}

chsh -s `which zsh`


{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew tap homebrew/cask-fonts
brew install --cask font-fira-code
brew install starship
{{ end -}}
